@CHARSET "UTF-8";

.cadreNbSeancesInscr {
        width: 470px;
        padding: 10px;
        background: #ccc;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;      
}

.cadreBlock {        
        padding: 10px;
        background: #ccc;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;      
}


.nomprenom {
 position: relative;
  top: 0em;
  right: 20%;
  width: 300px;
  padding: 10px;
  background-color: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}