@CHARSET "UTF-8";

.cadreNbSeancesInscr {
        width: 470px;
        padding: 10px;
        background: #ccc;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;      
}

.cadreBlock {        
        padding: 10px;
        background: #ccc;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;      
}


.nomprenom {
 position: relative;
  top: 0em;
  right: 20%;
  width: 300px;
  padding: 10px;
  background-color: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.event .category-item{
  display:-moz-inline-stack;
  display:inline-block;    
  line-height:15px;
  padding:0 0 5px 25px;
  background:url(../images/event_icons.png) no-repeat 0 0;
  font-size:12px
 }
  
  
 .event .category-item.atelier{
   background-position:0 -20px
  }
 
 table.dataTable tr.odd_row_atelier {
  background-color: #eae3e3;
}
 
  
 table.dataTable tr.even_row_atelier { 
    background-color: #f2f5f2;
}